<mat-toolbar color="primary" style="padding: 100px;">
	<div fxLayout="column" fxLayoutGap="20px" style="width: 100%; text-align: center;">
		<h1>Contacto</h1>
		<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="10px">
			<div fxLayout="row" fxLayoutGap="10px">
				<button mat-fab color="basic">
					<img style="width: 25px;" src="assets/social/facebook.png">
				</button>
				<button mat-fab color="basic">
					<img style="width: 25px;" src="assets/social/twitter.png">
				</button>

			</div>
			<div fxLayout="row" fxLayoutGap="10px">
				<button mat-fab color="basic">
					<img style="width: 25px;" src="assets/social/whatsapp.png">
				</button>
				<button mat-fab color="basic">
					<img style="width: 25px;" src="assets/social/facebook.png">
				</button>				
			</div>
		</div>
	</div>
</mat-toolbar>
